$fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

$dark: #1f2041;
$dark50: rgba(31, 32, 65, 0.5);
$dark75: rgba(31, 32, 65, 0.75);
$dark25: rgba(31, 32, 65, 0.25);
$dark05: rgba(31, 32, 65, 0.05);
$white: #fff;
$primary: #bc9cff;

@mixin flex($direction, $jujustify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jujustify;
  align-items: $align;
}

@mixin text($family, $weight, $size, $height, $color) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

.footer {
  min-height: 443px;
  background: $white;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  @include text("Montserrat", 400, 14px, 23px, $dark75);
  @include flex(column, none, none);
}

.foo-top {
  padding: 0 140px;
  min-height: 372px;
  display: flex;
  &__info {
    padding-right: 40px;
    margin-right: auto;
    @include flex(column, none, none);
  }
  &__logo {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  &__text {
    display: flex;
    width: 260px;
  }
  &__nav {
    width: 200px;
    padding-right: 10px;
    @include flex(column, none, none);
  }
  &__header {
    text-transform: uppercase;
    margin-bottom: 21px;
    margin-top: 104px;
    @include text("Montserrat", 700, 12px, 15px, $dark);
  }
  &__item {
    padding-bottom: 20px;
    display: flex;
    @include text("Montserrat", 400, 14px, 18px, $dark50);
    &:hover {
      color: $dark75;
    }
  }
  &__about {
    width: 200px;
    padding-right: 10px;
    @include flex(column, none, none);
  }
  &__support {
    width: 200px;
    padding-right: 10px;
    @include flex(column, none, none);
  }
  &__subscription {
    width: 260px;
    @include flex(column, none, none);
  }
  &__form {
    width: 260px;
    min-height: 44px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 22px;
    @include flex(row, none, none);
  }
  &__email {
    width: 216px;
    min-height: inherit;
    background: $white;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    border-right: none;
    padding-left: 15px;
    @include text("Montserrat", 400, 14px, 30px, $dark25);
    @include flex(none, none, center);
  }
  &__submit {
    width: 44px;
    min-height: inherit;
    background: $white;
    border: 1px solid $dark25;
    border-left: none;
    box-sizing: border-box;
    border-radius: 0 4px 4px 0;
    @include flex(none, center, center);
    &:after {
      content: "arrow_forward";
      font-family: "Material Icons";
      font-weight: 400;
      font-size: 24px;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
    &:hover {
      opacity: 0.5;
      border-color: $dark50;
    }
  }
}

.foo-bottom {
  min-height: 71px;
  border-top: 1px solid $dark25;
  padding: 0 140px;
  box-sizing: border-box;
  @include flex(none, space-between, center);
  &__smedia {
    @include flex(none, center, center);
  }
}

.foo-top-media,
.foo__container-media {
  display: none;
}

::placeholder {
  @include text("Montserrat", 400, 14px, 30px, $dark25);
}

.fab {
  font-weight: 400;
  font-size: 24px;
  width: 24px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  &:hover {
    opacity: 0.5;
  }
  &:not(:first-child) {
    margin-left: 20px;
  }
}
.fa-facebook-square {
  @include flex(none, flex-end, none);
}

@media (max-width: 2560px) {
  .foo-top,
  .foo-bottom {
    max-width: 100%;
  }
}

@media (max-width: 1250px) {
  .foo-top,
  .foo-bottom {
    max-width: 100%;
    padding: 0 15px;
  }
}

@media (max-width: 992px) {
  .foo-top {
    display: none;
  }

  .foo-top-media {
    max-width: 100%;
    min-height: 150px;
    background: $white;
    box-shadow: 0px 10px 20px $dark05;
    @include text("Montserrat", 400, 14px, 17px, $dark50);
    @include flex(column, none, none);
  }

  .foo-top__row {
    width: inherit;
    min-height: 170px;
    padding: 0 25px;
    @include flex(row, space-between, center);
  }
  .foo-top__info {
    padding-right: 0;
    margin-right: 0;
  }

  .foo-top__logo {
    margin-top: 0;
  }

  .foo-top__header {
    margin-top: 30px;
  }

  .foo-top__navrow {
    width: inherit;
    margin-top: 20px;
    padding: 0 25px;
    box-sizing: border-box;
    @include flex(row, space-between, none);
  }

  .foo-top__nav,
  .foo-top__about,
  .foo-top__support {
    padding-left: 20px;
    @include flex(none, none, flex-start);
  }
  .foo-bottom {
    padding: 0 25px;
  }
}

@media (max-width: 768px) {
  .foo-top-media,
  .foo-bottom,
  .foo-top {
    display: none;
  }
  .foo__container-media {
    width: 100%;
    min-height: 367px;
    background: $white;
    @include flex(column, center, center);
  }

  .foo-top__logo {
    margin-bottom: 20px;
  }

  .foo-bottom__copyright {
    margin-bottom: 25px;
    padding: 0 10px;
    @include text("Montserrat", 400, 14px, 17px, $dark75);
  }

  .foo-bottom__smedia {
    @include flex(none, center, center);
  }
}

@media (max-width: 425px) {
  .foo__container-media,
  .footer {
    min-height: 100px;
  }
  .foo-top__logo,
  .foo-bottom__copyright {
    display: none;
  }
}
