mixin footer768 
  footer.foo768px__container
    .foo768px__logo 
      a(href='#')
        img(src=require('../../img/logo.svg') alt='Логотип')
    .foo768px__copyright
      | Copyright © 2018 Toxin отель. Все права защищены.
    .foo768px__smedia
      a.fab.fa-twitter(href='#')
      a.fab.fa-facebook-square(href='#')
      a.fab.fa-instagram(href='#')