@mixin flex($direction, $jujustify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jujustify;
  align-items: $align;
}

@mixin text($family, $weight, $size, $height, $color) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

$white: #fff;
$dark75: rgba(31, 32, 65, 0.75);

.foo768px__container {
  width: 768px;
  height: 367px;
  background: $white;
  @include flex(column, center, center);
}

.foo768px__logo {
  margin-bottom: 20px;
}

.foo768px__copyright {
  margin-bottom: 25px;
  @include text("Montserrat", 400, 14px, 17px, $dark75);
}

.foo768px__smedia {
  @include flex(none, center, center);
}
