doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    include ../../components/header/header.pug
    include ../../components/foo/bigfoo.pug
    include ../../components/foo/foo768.pug
    .wrapper
      .group
        img(src=require('../../img/group.svg') alt='Логотип')
      .first-header 
        +header()
      .second-header 
        +header("Юлий Цезарь")
      .first-foo
        +footer
      .second-foo 
        +footer768 
