@font-face {
  font-family: "Material Icons";
  src: local("☺"), url("./MaterialIconsOutlined-Regular.woff") format("woff"),
    url("./MaterialIconsOutlined-Regular.ttf") format("truetype"),
    url("./MaterialIconsOutlined-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("☺"), url("./Montserrat-Bold.woff") format("woff"), url("./Montserrat-Bold.ttf") format("truetype"),
    url("./Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("☺"), url("./Montserrat-Regular.woff") format("woff"), url("./Montserrat-Regular.ttf") format("truetype"),
    url("./Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Quicksand-Regular";
  src: local("☺"), url("./Quicksand-Regular.woff") format("woff"), url("./Quicksand-Regular.ttf") format("truetype"),
    url("./Quicksand-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
