$dark50: rgba(31, 32, 65, 0.5);
$dark75: rgba(31, 32, 65, 0.75);
$white: #fff;
$primary: #bc9cff;

@mixin flex($direction, $jujustify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jujustify;
  align-items: $align;
}

@mixin text($family, $weight, $size, $height, $color) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

.header {
  background: $white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  &__container {
    min-height: 70px;
    padding: 0 140px;
    @include flex(none, flex-end, none);
    @include text("Montserrat", 400, 14px, 17px, $dark50);
  }
  &__logo-container {
    min-height: inherit;
    margin-right: auto;
    @include flex(none, flex-start, center);
  }
  &__nav {
    height: inherit;
    @include flex(none, flex-end, center);
  }
  &__item {
    padding-right: 20px;
    white-space: nowrap;
    color: $dark50;
    &:hover {
      color: $dark75;
    }
    &_after {
      display: flex;
      &:after {
        content: "keyboard_arrow_down";
        font-family: "Material Icons";
        font-size: 25px;
      }
    }
    &_active {
      font-weight: 700;
    }
  }
  &__autentification-container {
    min-height: inherit;
    @include flex(none, none, center);
  }
  &__enter {
    width: 87px;
    min-height: 34px;
    border-radius: 22px;
    background: linear-gradient(180deg, $primary 0%, #8ba4f9 100%);
    margin-right: 20px;
    @include flex(none, center, center);
    &:hover {
      opacity: 0.5;
    }
  }
  &__enterlink {
    width: 83px;
    min-height: 30px;
    border-radius: 22px;
    background: $white;
    @include flex(none, center, center);
  }
  &__entertext {
    text-transform: uppercase;
    @include text(inherit, inherit, 12px, 15px, $primary);
  }
  &__registration {
    @include flex(none, center, center);
  }
  &__registrationlink {
    width: 196px;
    min-height: 34px;
    border-radius: 22px;
    background: linear-gradient(180deg, $primary 0%, #8ba4f9 100%);
    @include flex(none, center, center);
    &:hover {
      opacity: 0.5;
    }
  }
  &__registrationtext {
    text-transform: uppercase;
    @include text(inherit, 700, 12px, 15px, $white);
  }
  &__user {
    min-height: 30px;
    border-left: 1px solid;
    border-left-color: rgba(31, 32, 65, 0.1);
    padding-left: 20px;
    @include flex(none, none, center);
  }
  &__container-media {
    display: none;
  }
}

@media (max-width: 2560px) {
  .header__container {
    max-width: 100%;
  }
}

@media (max-width: 1250px) {
  .header__container {
    max-width: 100%;
    padding: 0 25px;
  }
}

@media (max-width: 992px) {
  .header__container {
    display: none;
  }

  .header__container-media {
    max-width: 100%;
    min-height: 70px;
    @include flex(column, none, none);
    @include text("Montserrat", 400, 14px, 17px, $dark50);
  }

  .header__row {
    background: $white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    width: inherit;
    min-height: 50px;
    padding: 0 25px;
    @include flex(row, space-between, none);
  }

  .header__nav {
    background: $white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    width: inherit;
    min-height: 40px;
    padding: 0 25px;
    border-top: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    @include flex(none, space-between, none);
  }
  .header__user {
    border-left: none;
  }
  a.header__item {
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .header__container {
    display: flex;
    max-width: 100%;
    padding: 0 15px;
  }

  .header__nav,
  .header__autentification-container,
  .header__container-media {
    display: none;
  }
}
