$white: #fff;
$dark: #1f2041;
$dark25: rgba(31, 32, 65, 0.25);
$dark50: rgba(31, 32, 65, 0.5);
$dark75: rgba(31, 32, 65, 0.75);
$primary: #bc9cff;

@mixin flex($direction, $jujustify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jujustify;
  align-items: $align;
}

@mixin text($family, $weight, $size, $height, $color) {
  font-family: $family;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

.roomSelection__container {
  width: 380px;
  height: 374px;
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @include flex(column, none, none);
}

.roomSelection__text {
  padding: 40px 30px 21px 30px;
  @include text("Montserrat", 700, 24px, 29px, $dark);
}

.dropdown-date__wrapper {
  @include flex(row, none, none);
}

.dropdown-date__container {
  @include flex(column, none, none);
}

.dropdown-date__text {
  @include text("Montserrat", 700, 12px, 15px, $dark);
  text-transform: uppercase;
}
.dropdown-date__text_arrival {
  padding: 0 20px 5.44px 30px;
}

.dropdown-date__text_departure {
  padding: 0 30px 5.44px 0;
}

.dropdown-date__field {
  width: 150px;
  height: 44px;
  box-sizing: border-box;
  background: $white;
  border: 1px solid $dark25;
  border-radius: 4px;
  @include text("Montserrat", 400, 14px, 18px, $dark75);
  position: relative;
}

.dropdown-date__field_arrival {
  margin: 0 20px 20.56px 30px;
}

.dropdown-date__field_departure {
  margin: 0 30px 20.56px 0;
}

.dropdown-date__input {
  padding-left: 15px;
  height: 42px;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  @include text("Montserrat", 400, 14px, 18px, $dark75);
  @include flex(none, none, none);
}

.dropdown-date__arrow {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 44px;
  top: 0px;
  right: 0px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  @include flex(none, center, center);
  &:after {
    content: "keyboard_arrow_down";
    font-family: "Material Icons";
    @include text("Material Icons", 400, 25px, 18px, $dark75);
    border-radius: 0 4px 4px 0;
  }
}

.dropdown-date {
  width: 320px;
  height: 369px;
  background: $white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

.datepicker--cell {
  border-radius: 22px;
}

.datepicker--nav {
  border: none;
  min-height: 24px;
  padding: 20px 20.67px 30px 20.67px;
  @include text("Montserrat", 700, 19px, 24px, $dark);
}

.datepicker--nav-action {
  width: 23.93px;
}
.arrow_next {
  &:after {
    content: "arrow_forward";
    @include text("Material Icons", 400, 24px, 20px, $primary);
    @include flex(none, center, center);
  }
}

.arrow_prew {
  &:after {
    content: "arrow_back";
    @include text("Material Icons", 400, 24px, 20px, $primary);
    @include flex(none, center, center);
  }
}

.datepicker--nav-title {
  @include text("Montserrat", 700, 19px, 24px, $dark);
  padding: 0;
}

.datepicker--content {
  padding: 0;
}

.datepicker--days-names {
  margin: 0 19.67px 0 21.2px;
}

.datepicker--day-name {
  width: 39.88px;
  height: 40px;
  @include text("Montserrat", 700, 12px, 15px, $primary);
  text-transform: none;
}

.datepicker--cells-days {
  margin: 0 19.67px 0 20.94px;
  @include text("Montserrat", 400, 12px, 15px, $dark50);
}

.datepicker--cell-day {
  height: 40px;
}

.datepicker--cell.-current- {
  color: $white;
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  border-radius: 22px;
  &:hover {
    color: $white;
  }
}

.datepicker--cell.-current-.-focus- {
  opacity: 0.5;
}

.datepicker--cell.-in-range-,
.datepicker--cell.-in-range-.-focus- {
  background: $dark25;
  color: $dark50;
}

.datepicker--cell.-range-from-,
.datepicker--cell.-range-from-.-focus-,
.datepicker--cell.-selected-.-current-.-focus- {
  background: $dark25;
  border-radius: 22px 0 0 22px;
  border: none;
  opacity: 1;
}

.datepicker--cell.-range-from-::before,
.datepicker--cell.-range-to-::after {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border-radius: 22px;
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.datepicker--cell.-range-to-,
.datepicker--cell.-range-to-.-focus- {
  background: $dark25;
  border-radius: 0 22px 22px 0;
  border: none;
}

.datepicker--cell.-selected-.-current- {
  background: $dark25;
  border-radius: 22px 0 0 22px;
  border: none;
}

.datepicker--buttons {
  border-top: none;
  padding: 0;
  @include flex(row, space-between, none);
  justify-content: space-between;
}

.datepicker--button {
  text-transform: uppercase;
  @include text("Montserrat", 700, 12px, 15px, $primary);
  padding: 20.44px 20px 20px 20px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  @include flex(none, flex-start, none);
}

.datepicker--button:hover {
  color: $primary;
  opacity: 0.5;
  background: $white;
}

.datepicker--button_apply {
  @include flex(none, flex-end, none);
}

.-selected-.datepicker--cell-day.-other-month-,
.-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: $dark25;
}
.-in-range-.datepicker--cell-day.-other-month-,
.-in-range-.datepicker--cell-year.-other-decade- {
  background: $dark25;
  color: $dark25;
}
.-in-range-.-focus-.datepicker--cell-day.-other-month-,
.-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background: $dark25;
}
.datepicker--cell.-range-to-,
.datepicker--cell.-range-to-.-selected-.-focus- {
  background: $dark25;
}
