mixin roomSelection()
  .roomSelection__container
    .roomSelection__text 
      | Найдём номера под ваши пожелания
    .dropdown-date__wrapper 
      .dropdown-date__container 
        .dropdown-date__text.dropdown-date__text_arrival
          | прибытие
        .dropdown-date__field.dropdown-date__field_arrival
          input.dropdown-date__range-from.dropdown-date__input(type='text' id='start' placeholder="ДД.ММ.ГГГГ")
          span.dropdown-date__arrow
      .dropdown-date__container
        .dropdown-date__text.dropdown-date__text_departure
          | выезд
        .dropdown-date__field.dropdown-date__field_departure
          input.dropdown-date__range-to.dropdown-date__input(type='text' id='end' placeholder="ДД.ММ.ГГГГ")
          span.dropdown-date__arrow
